<h1><span id="s1"><%= $returnInfo %></span></h1>

<script type="text/javascript">

    var instanceStateCall = function()
    {
        $.get("/remote_machines/instanceState", function (data) {
            datatype:'text'
            $("#s1").html(data);
        }).fail(function (error) {
            console.log(error);
        });
    }
    
    $(function(){
      setInterval(instanceStateCall, 500);
    });
    
</script>