<p><%= $machineCode %></p><br/>
<p><%= $env %></p><br/>

<h1> My instance <span id="s2"><%= $machineCode %></span> is: <span id="s1"><%= $machineState %></span>  </h1>

<script type="text/javascript">

    var instanceStateCall = function()
    {
        $.get("/remote_machines/instanceState", function (data) {
            datatype:'text'
            $("#s1").html(data);
        }).fail(function (error) {
            console.log(error);
        });
    }
    
    $(function(){
      setInterval(instanceStateCall, 2000);
    });
    
</script>